<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="UKDC" connectionString="Server=ATLAS-SQLSRV01; Database=UKDCAUI; User Id=UKDCAUI; Password=C0ngr355!"/>-->
    <add name="UKDC" connectionString="Server=.;Database=UKDC;UID=sa;PWD=3rdAug1975"/>
    <!--<add name="UKDC" connectionString="Server=TYNE;Database=PAH;UID=sa;PWD=tynesa;"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="default.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>