<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title" ng-show="!$s.Affiliate">Basket</h4>
        <h4 class="panel-title" ng-show="$s.Affiliate">
            {{$s.Affiliate.Name}}
        </h4>
    </div>
    <div class="panel-body" ng-show="Empty()">There are no items in your basket</div>
    <table class="table table-condensed small" ng-show="!Empty()">
        <thead>
            <tr>
                <th class="text-left">Description</th>
                <th class="text-right">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Package in $s.Basket.Packages">
                <td class="text-left">
                    <a href="#Package/Edit/{{$index}}">
                        {{Package.Package.Name}}
                    </a>
                    <div ng-repeat="Attendee in Package.Attendees">
                        &nbsp;
                        {{Attendee.Forename}}
                        {{Attendee.Surname}}
                        ({{Attendee.Pass.Name || 'No Pass'}},
                        {{Attendee.Dining.Name || 'No Dining'}})
                    </div>
                </td>
                <td class="text-right">£{{Package.Price.Total | number: 2}}</td>
                <td class="text-center">
                    <a class="btn-nohref text-danger" title="Remove Package" ng-click="RemovePackage(Package)">
                        <i class="fa fa-remove fa-lg"></i>
                    </a>
                </td>
            </tr>
            <tr ng-repeat="Pass in $s.Basket.Passes">
                <td class="text-left">
                    <a href="#Pass/Edit/{{$index}}">
                        {{Pass.Forename}}
                        {{Pass.Surname}}
                        ({{Pass.Pass.Name}})
                    </a>
                </td>
                <td class="text-right">£{{Pass.Price.Total | number: 2}}</td>
                <td class="text-center">
                    <a class="btn-nohref text-danger" title="Remove Pass" ng-click="RemovePass(Pass)">
                        <i class="fa fa-remove fa-lg"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th class="text-left">Total</th>
                <th class="text-right">£{{Price().Total | number: 2}}</th>
                <th class="text-center"></th>
            </tr>
        </tfoot>
    </table>
    <div class="panel-footer clearfix" ng-hide="Empty()">
        <div class="pull-right">
            <a href="#Checkout" class="btn btn-success btn-sm" title="Checkout">
                Checkout
            </a>
        </div>
    </div>
</div>