<div class="modal-header">
    <h4 class="modal-title">
        {{Package.Package.Name}}
        <br />
        <small>
            {{Package.Package.Description}}
            <br />
            <span ng-show="Package.Package.Max == Package.Package.Min">
                sleeps {{Package.Package.Max}} {{(Package.Package.Max == 1) ? 'person' : 'people'}}
            </span>
            <span ng-show="Package.Package.Max > Package.Package.Min">sleeps {{Package.Package.Min}} to {{Package.Package.Max}} people</span>
        </small>
    </h4>
</div>
<div class="modal-body">
    <tabset>
        <tab ng-repeat="Guest in Package.Guests" active="Guest.active">
            <tab-heading>
                <i class="fa fa-user"></i>
                <i class="fa fa-warning text-danger" ng-show="!IsValidGuest(Guest)"></i>
                <i class="fa fa-check text-success" ng-show="IsValidGuest(Guest)"></i>
            </tab-heading>
            <div class="row">
                <div class="col-xs-8 col-xs-push-4">
                    <h4>
                        <i class="fa fa-user"></i> Guest {{$index + 1}} of {{Package.Guests.length}}
                    </h4>
                </div>
            </div>
            <ng-include src="'partials/GuestForm.html'"></ng-include>
            <div class="row" ng-show="Package.Guests.length > Package.Package.Min">
                <div class="col-xs-8 col-xs-push-4">
                    <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="RemoveGuest(Guest)">Remove Guest</button>
                </div>
            </div>
        </tab>
        <tab ng-click="AddGuest()" ng-show="Package.Guests.length < Package.Package.Max" title="Add Guest">
            <tab-heading>
                <i class="fa fa-plus"></i>
            </tab-heading>
        </tab>
    </tabset>
</div>
<div class="modal-footer">
    <div class="pull-left" ng-include="'partials/PriceBreakdown.html'"></div>
    <button type="button" class="btn btn-sm btn-default" ng-click="Cancel()">Cancel</button>
    <button type="button" class="btn btn-sm btn-primary" ng-click="Save()" ng-disabled="!IsValid()">Save</button>
</div>
