<!-- Top NavBar -->
<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://www.ukdancecongress.com" target="_blank">
                <span class="hidden-xs">UK Dance Congress 2015</span>
                <span class="visible-xs">UKDC15</span>
            </a>
            <div class="pull-right">
                <span class="navbar-text" ng-show="$s.User">
                    {{$s.User.Forename}}&nbsp;{{$s.User.Surname}}&nbsp;
                </span>
                <button type="button" class="btn btn-primary navbar-btn" title="Login" ng-click="Auth.Login()" ng-show="!($s.User)">
                    <i class="fa fa-facebook-square"></i>
                    Login
                </button>
                <button type="button" class="btn btn-primary navbar-btn" title="Logout" ng-click="Auth.Logout()" ng-show="$s.User">
                    <i class="fa fa-facebook-square"></i>
                    Logout
                </button>
            </div>
        </div>
    </nav>
</div>